{{#each courses}}
    <h2>CURSO</h2>
    <p>{{this.title}}</p>
    <h2>DESCRIPCION</h2>
    <p>{{this.description}}</p>
    <h2>PROFE</h2>
    <p>{{this.teacherName}}</p>
    <h2>ALUMNOS</h2>
    <p>{{this.students}}</p>
{{/each}}